<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.google.chrome</string>
		<string>com.apple.safari</string>
		<string>com.apple.quicktimeplayer</string>
		<string>org.videolan.vlc</string>
		<string>com.apple.quicktimeplayerx</string>
		<string>com.apple.systemevents</string>
		<string>com.plexapp.plex</string>
		<string>com.elgato.eyetv</string>
	</array>
</dict>
</plist>
